body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

a {
    font:inherit;
    color:dodgerblue;
}

.markup-padding{
    padding:10px 20px;
    box-sizing: border-box;
}

.page {
    position:relative;
    margin:0 auto;
    width:50%;
    left:10%;
}

.breadcrumbs{
    width:150%;
    margin-left: -50%;
    clear:both;
}

.menu {
    width:30%;
    margin-right:-30%; /* for IE */
    position:relative;
    left:-50%;
    float:left;
    min-height: 200px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.menu-hidden{
    width:20px;
    transition: all 0.5s ease-in-out;
}

.menu-content{
    opacity:1;
    filter: alpha(opacity=100);
    transition:opacity 0.5s linear;
    float: left;
    width:95%;
    box-sizing: border-box;
}

.menu-hidden .menu-content{
    opacity:0;
    filter: alpha(opacity=0);
    transition:opacity 0.5s linear;
}

.arrow{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 14px;
    background : url("#{resource['img:shuffle-arrows.png']}") no-repeat;
}

.arrow-top{
    height: 8px;
    background-position: 0 0;
}

.arrow-bot{
    height: 8px;
    background-position: 0 -11px;
}

.arrow-left{
    height: 18px;
    background-position: 0 -20px;
}

.arrow-right{
    height: 18px;
    background-position: 0 -38px;
}

.content {
    position:relative;
    width:120%;
    left: -20%;
    float:left;
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.content-wrap{
    width:100%;
}

.content-wider{
    width:148%;
    margin-left: -28%;
}

.content-expand{
    width: 30px;
    height: 100%;
    position: absolute;
    left: -9px;
    opacity: 0.4;
    filter: alpha(opacity=40);

}

.content-expand:hover{
    opacity: 1;
    filter: alpha(opacity=100);

}

table.form-table {
    width:auto !important;
}

table.form-table tr td:nth-child(odd) {
    width:100px;
    position: relative;
}
table.form-table tr td:nth-child(even) {
    width:200px;
    margin-right: 10px;
    position: relative;
}

table.form-table tbody tr td:nth-child(odd){
    text-align: right;
}

table.form-table tr td:nth-child(even) input[type="text"]{
    width:100%;
    box-sizing: border-box;
}

table.form-table.actions{
    width:200px !important;
}

table.form-table.actions tr td {
    padding:4px 1px;
}

.question-tip{
    color: dodgerblue;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    margin: auto;
    right: -4px;
    top: -1px;
}